* {
    margin: 0;
    padding: 0;
}

body {
    width:100%;
    height: 100%;
    position: absolute;
}


.header {
    height: 100%;
    background-image: linear-gradient(to right bottom,#89e4f96b, #6dcef774), 
    url(ariel/ocen.png);
    background-size: cover;
    background-position: bottom;
/*    position: relative;*/
}

#ariel {
    background-attachment: fixed;
    max-width: 14%; 
/*    display:block; */
/*    height: auto;*/
/*    height: 600px;*/
/*    position: relative;*/
    position: absolute;
    bottom: 10%;
    left: 6%;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', sans-serif;
}

.text {
    text-align: center;
    font-size: 18px;
}

#bubble {
    background-attachment: fixed;
    max-width: 14%; 
    position: absolute;
    bottom: 140px;
    right: 0;
}
#bubble1 {
    background-attachment: fixed;
    max-width: 14%; 
    position: absolute;
    bottom: 500px;
    right: 0;
}

#photo {
    position: absolute;
    height: 400px;
    top: 340px;
    left: 620px;
}

#fish {
    background-attachment: fixed;
    max-width: 4%; 
    position: absolute;
    bottom: 500px;
    right: 8%;
}

#fish1 {
    background-attachment: fixed;
    max-width: 4%; 
    position: absolute;
    bottom: 410px;
    left: 20%;
}

#yellow-fish {
    background-attachment: fixed;
    max-width: 7%; 
    position: absolute;
    bottom: 380px;
    left: 50%;
}

#i-dont-know {
    background-attachment: fixed;
    max-width: 10%; 
    position: absolute;
    bottom: 10%;
    left: 70%;
}

#i-dont-know2 {
    background-attachment: fixed;
    max-width: 10%; 
    position: absolute;
    bottom: 12%;
    left: 30%;
}