* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    /* text-align: center; */
    /* background: rgb(125, 186,232); */
    /* margin: auto;  */
    color: rgb(206, 201, 201);
    padding: 20px;
}

#top-header{
    background: rgb(250, 160, 21);
    text-align: right;
}

.info {
    height: 20px;
    margin-top: 2px;
    margin-left: 7px;
    /* margin-bottom: 4px; */
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,#5cbdfdbe, #f76dec9f), 
    url(img/Castle.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0,100% 0,100% 90%, 0 100%);
    position: relative;
}

.logo-box {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    height: 70px;
}

.heading {
    color: rgb(252, 255, 47);
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-size: 60px;
    letter-spacing: 10px;
}



/*
.social-icon {
    display: inline-block;
    float: none;
    margin-top: 4px;
    margin-left: 10px;
    margin-bottom: 3px;
}

.social-icon {
    display: nane;
}

#icon {
    width: 26px;
    height: 24px;
}

ol, ul {
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
}  */


