body{
    text-align: center;
    background: rgb(125, 186,232);
    margin: auto; 
}

#top-header{
    background: rgb(250, 160, 21);
}

.social-icon {
    display: inline-block;
    float: none;
    margin-top: 4px;
    margin-left: 10px;
    margin-bottom: 3px;
}

.social-icon {
    display: nane;
}

#icon {
    width: 26px;
    height: 24px;
}

ol, ul {
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
}